@import "tailwindcss";

@theme {

    --color-sky-base: #104474;
    --color-sky-v2-base: #0B8CF1;
    --color-sky-v3-base: #BFE6F7;
    --color-white-base: #FFFFFF;
    --color-brown-base: #E2A47D;
    --color-brown-v2-base: #BD835B;
    --color-yellow-base: #FFCC66;
    
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-color: transparent;
  color: #FFFFFF;
}

h1 {
  font-family: "permanent marker";
}

#title-countdown,#info-combo{
  font-family: 'Caveat Variable', cursive;
}

h2, h3, #info-hero, #subtitle-hero {
  font-family: "caveat brush";
}

p, button, #tape-offer, #items-countdown{
  font-family: 'Bebas neue';
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 5s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

